.producto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgb(231, 240, 244);
    padding-top: 30px;
    padding-bottom: 30px;
}


.title {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.p{
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.img{
 margin: 0 auto;   
}

.img img{
    width: 320px;
}
@media only screen and (min-width: 770px) {
    .producto {
    display: flex;
    justify-content: center;
    }

    .p{
        width: 60%;
    }

    .img img{
        min-width: 320px;
        width: 500px;
    }
  
}