.carrito{
height: 80vh;
justify-content: center;
display: flex;
flex-direction: column;
flex-wrap: wrap;
text-align: center;
}

.title{
   margin-bottom: 20px;
}

.link{
text-decoration: none; 
color:black;   
}

.products{
   display: flex;
   flex-direction: column;
}