.carrito{
height: 80vh;
justify-content: center;
display: flex;
flex-direction: column;
flex-wrap: wrap;
text-align: center;
}

.title{
   margin-bottom: 20px;
}

.link{
text-decoration: none; 
color:black;   
}

.products{
   display: flex;
   flex-direction: column;
}

.productos{
display: flex;
flex-direction: column;
justify-content: center;

}

.titles{
   text-align: center;
   margin-top: 5%;
   margin-bottom: 5%;
}

.comprar{
   margin-bottom: 20%;
   margin-right: 15px;
}

.prodContent{
   display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
}