.carrito{
height: 80vh;
justify-content: center;
display: flex;
flex-direction: column;
flex-wrap: wrap;
text-align: center;
}

.title{
   margin-bottom: 20px;
}

.link{
text-decoration: none; 
color:black;   
}

.products{
   display: flex;
   flex-direction: column;
}

.productos{
padding-top: 50px;
}

.titles{
   text-align: center;
   margin-top: 15%;
}

.comprar{
   margin-bottom: 20%;
   margin-right: 15px;
}