.inputGroup {
    width: 100%;
    padding-top: 50px, ;
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: -2px 6px 15px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 6px 15px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 15px -1px rgba(0, 0, 0, 0.75);
    text-align: center;
    background-color: white;
    margin-top: 30px;
}

.btn {
    width: 80%;
    background-color: rgb(255, 0, 76);
    padding: 10px;
    font-size: small;
    border: none;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
}

.groupOne {
    display: flex;
    justify-content: center;
    height: 10vh;
}

.groupOne>* {
    margin: 5px;
}

.dark {
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
    padding: 30px;
    margin: 0 auto;
    box-shadow: -2px 6px 15px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 6px 15px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 15px -1px rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 700px) {
    .inputGroup {
        height: 80vh;
        padding-top: 20px;
    }

    .dark {
        margin-top: 50px;
        height: 80vh;
        padding: 100px;
        background-color: black;
        color: white;
    }

    .groupOne {
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width: 800px) and (orientation: landscape) {
  .inputGroup{
    padding-top: 50px;
    height: 150vh;
    margin-top: 0;
    border-top: 1px solid grey;
  }
  .groupOne {
    height: 20vh; 
  }
 


}