.menu {
     display: flex;
     justify-content: space-between;
 }

 .navLarge{
    display: flex;
 }

 .logoP{
     background-color: rgb(201, 34, 59);
     border-radius: 50%;
     width: 30px;
     height: 30px;
     padding: 5px;
 }

 .bar{ border: 1px solid rgb(234, 228, 228)}
/* 
 .logoP1{
    background-color: rgb(201, 34, 59);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 15px; 
 } */

 .logo {
     width: 200px;
 }

 .logoP1{
    width: 80px;
    height: 80px;
    text-align: center;
    margin-left: 40%;
    margin-bottom: 30px;
    padding: 10px;
    background-color: rgb(201, 34, 59);
    border-radius: 50%;
 }

 .barra {
     display: none;
 }

 .menu{
    display: flex;
 }

.bar{
    display: none;
}

.btnNav{
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.LogoP img{
padding-top: 30px;
}

.log{
    margin-top: 26px ;
}

.NavDrop{
    margin-top: 25px ;  
}

.title{
    text-align: center;
    font-size:x-large;
}

.registro{
    margin-top: 75%;
}

.dark {
    background-color: black;
    color: white;
    border-left: 1px solid white  ;
    margin-left: 10px;
}
  
.logo{
    width: 200px;
}

.logoP{
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-top: 20px;
}

.barra{
    display: flex;
}

#basic-nav-dropdown, .Nav.Link{
    margin-left: 10px;
}

.btn{
   margin-top: 20px; 
}

.Nav.Link{
    margin-bottom: 20px;
}

.link a{
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
}

 @media only screen and (min-width: 700px) {
     .barra {
         display: flex;
         padding-right: 80px;
     }

    .bar{
        display: flex;
    }

 }

 @media only screen and (max-width: 800px) and (orientation: landscape) {
    .navLarge{
        display: none;
    }


}