.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 243, 243);
  justify-content: space-around;
  min-height: 100vh;
}

.dark {
  background-color: black;
  color: white;
}

.contenedor{
  justify-content: center;
}
/* 
.comerciosAd{
  margin-top: 10%;
} */

.sesion{
  display: flex;
  justify-content:space-evenly;
  margin-bottom: 20px;
}

.menu{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.menu li{
  padding: 10px;
}

.menuContainer{
margin: 0 auto;
}

@media only screen and (min-width: 770px) {

  .sesion {
    justify-content: center;
  }

  .item{
    margin: 10px;
  }
}