.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 243, 243);
  justify-content: space-around;
  min-height: 100vh;
}

.dark {
  background-color: black;
  color: white;
}

.contenedor{
  justify-content: space-between;
}
/* 
.comerciosAd{
  margin-top: 10%;
} */
