.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 243, 243);
  justify-content: space-around;
  min-height: 100vh;
}

.dark {
  background-color: black;
  color: white;
}

.contenedor {
  justify-content: center;
  width: 100%;
}

/* 
.comerciosAd{
  margin-top: 10%;
} */

.sesion {
  display: flex;
  height: 30vh;
  padding-top: 70px;
  width: 90%;
  margin: 0 auto;
  overflow-y: auto;
  overflow: overlay;
  justify-content: space-evenly;
}

.sesion img {
  transition: all .9s ease;
  ;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  width: 100%;
}

.sesion img:hover {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}

.sesion::-webkit-scrollbar {
  display: none;
}

.titulo {
  text-align: center;
  padding: 50px 10px 0px 5px;
}

.menu {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.menu li {
  padding: 10px;
}

.menuContainer {
  margin: 0 auto;
}

.tarjeta {
  margin-left: "10px";
  margin: 5px;
}

.nav>* {
  text-decoration: none;
  color: white;
}

.nav {
  margin: 30px;
  padding-bottom: 20px;
  padding-top: 30;
}

.categoriasMap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .catContainer{
min-height: 30vh;
display: flex;
justify-content: flex-start;
align-items: center;
} */

.catContainer {
  min-height: 40vh;
  padding-top: 50px;
  background-color: aliceblue;
  align-items: center;
  margin: 0 auto;
}

@media only screen and (min-width: 770px) {

  .sesion {
    justify-content: center;
    width: 100%;
    margin: 5px;
  }

  .item {
    margin: 10px;
  }

  .tarjeta {
    margin-left: 30px;
  }

  .categoriasMap {
    justify-content: center;
    width: 100%;
  }

  .catContainer {
    height: 40vh;
    padding-top: 5%;
    align-items: center;
  }

}

@media only screen and (orientation: landscape) {
  .catContainer {
    height: 150vh;
  }

  .categoriasMap {
    justify-content: flex-start;
  }
}