.login {
    display: flex;
    background-color: rgba(0, 0, 0, 0.529);
    height: 100vh;
    align-items: center;
    flex-direction: column;
    padding-top: 1%;
}

.loginUno {
    margin: 0 auto;
    height: 95vh;
    width: 90%;
    border-radius: 10px;
    background: linear-gradient(rgb(225, 14, 84) 40%, white 40%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.No {
    padding-left: 70%;
    margin: 15px;
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.logos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    height: 50vh;
    padding-bottom: 38%;
}

.loginBody {
    margin-bottom: 30%;
    height: 50vh;
}

.logoP {
    margin-left: 40px;
}

.titulo {
    padding-top: 5%;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btnNav {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 90%;
    font-size: small;
    text-align: justify;
}

.parrafo {
    font-size: x-small;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
}

.dark{
    margin: 0 auto;
    height: 95vh;
    width: 90%;
    border-radius: 10px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* .logoP1 {
    margin-left: 30px;
    margin-bottom: 30px;
}
.logoP{
    margin-left: 30px;
} */


@media only screen and (min-width: 801px) {

    .loginUno {
        height: 80vh;
        width: 33%;
        display: flex;
        margin-bottom: 20%;
    }


    .btnNav {
        width: 50%;
    }

    .parrafo {
        font-size: small;
        text-align: center;
        padding: 30px 10%;
    }

    .titulo {
        padding-top: 0px;
    }

    .logos {
        padding-bottom: 15%;
    }


}

/* @media only screen and (min-width: 1024px){

    .loginBody {
        margin-bottom: 10%;
        padding-top: 27%;
    }

    .logoP {
        display: none;
    }

} */