.button{
    width: 100%;
    align-self: center;
    background-color: white;
    margin-top: 30px;
}

.button:hover{
    background-color: white;
}

.p{
    border-bottom: 1px solid rgb(213, 207, 207);
    font-size: small;
    font-weight: 600;
}

.h3{
text-align: center;
}
