.preguntas{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
}

.parrafo{
    text-align: justify;
}

.titulo{
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20px;
    font-size: larger;
}

.Header{
    font-size: small;
}

@media only screen and (min-width: 700px) {
    .preguntas{
       margin-left: 25%;
       margin-right: 25%;
       margin-bottom: 30px;
    }

 .titulo{
    text-align: center;
    font-size: larger;
    padding-top: 50px;
    padding-bottom: 0px;
}

}

@media only screen and (max-width: 913px) and (orientation: landscape)  {
  .preguntas{
    margin-top: 50px;
    padding-bottom: 70px;
  }

  .titulo{
    padding-top: 40%;
  }
}