.section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/bg_landing.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
   
}

.sectionOne {
    display: flex;
    width: 100%;
}

.dark {
    background-color: black;
    color: white;
}

 @media only screen and (min-width: 700px) {

    .section {
        display: flex;
        flex-direction: row;
    }

     .sectionOne {
        width: 50%;
        height: 100vh;
    }

    .sectionTwo {
        width: 40%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    .sectionOne{
       display: none;
    }

}
    
