.vender{
    display: flex;
    flex-direction: column;
    height: 250vh;
}

.image{
    padding: 10px;
    display: flex;
}

.parrafo
.parrafoOne{
    padding: 20px;
    margin: 5px;
    text-align:center;
    font-weight: 500;
}

.parrafo{
  font-size: 12px;
  margin-top: 10px;
  margin-left: 5px;
}

.parrafoOne{
  width: 100%;
  padding-top: 80px;
  text-align: justify;
}

.titles{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
    margin:20px;
}

@media only screen and (min-width: 770px){
  .vender{
    align-items: center;
    height: 130vh;
  }

  .images{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    padding-right: 10px;
    justify-content: center;
  }

  .titles{
    margin-top: 50px;
  }

  .parrafoOne{
    font-size: 18px;
    text-align: center;
    width: 50%;
    padding-top: 100px;
  }
}